@model PlayerViewModel
@{
    ViewData["Title"] = "PlayerClient";
}

<div>
    <h1>Катастрофа: (в доработке)</h1>

</div>
<hr width="100%"/>
<h1>Player: @Model.Name</h1>
    <ul>
         @foreach(var obj in @Model.Hand)
        {
            <li>@obj.Type - @obj.Desc</li>
        }
    </ul>
