@model PlayerViewModel
@{
    ViewData["Title"] = "Player";
}

<div>
    <form asp-action="PlayerCreate" asp-controller="Player" method="post">
        <div>
            <label>Name</label>
            <input type="text" asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        @*<input hidden asp-for="CookieUrl"/>*@
        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
</div>